/* Global Styling */
:root {
    font-size: 16px;
}

body {
    font-family: 'Open Sans';
    font-weight: 400;
    margin: 0px;
}

h1, h2 {
    font-size: 3.75rem;
    font-weight: 300;
}

h3 {
    font-size: 2.0625rem;
    font-weight: 300;
}

p {
    font-size: 1.125rem;
    font-weight: 400;
}

a {
    text-decoration: none;
}

/* Element Styling */

.icon {
    min-width: 3vw;
    max-width: 6vw;
}

.bg--nitro-pink {
    background-color: #FFF0ED;
}

.bg--grey {
    background-color: #F7F7F7;
}

.bold {
    font-weight: 700;
}

.blue {
    color:#5bacc3;
}

.graphite {
    color: #393939;
}

.white {
    color: #FFF;
}

/* Alignments */

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.inline-block {
    display: inline-block;
}

/*Targetted Styling*/

header > nav > ul > li {
    list-style: none;
    font-weight: 400;
    font-size: 1.3125rem;
}

/* Nav Bar */

.navbar {
    display: inline-block;
    margin: 0 1.195vw;
}

.navbar a:nth-child(3) {
    color:#5bacc3;
}

.navbar ul {
    padding: 0 0 1.25rem 0;
}

/* Margin & Padding Control */

.zeromargin {
    margin: 0px;
}

.zeromargin-bottom {
    margin-bottom: 0px;
}

.zeromargin-left {
    margin-left: 0px;
}

.margin-left20{
    margin-left: 1.195vw;
}

.button-sizing {
    padding: 1.25rem 2.4vw;
}

.padding-top40 {
    padding-top: 2.5rem;
}
.padding-bottom40 {
    padding-bottom: 2.5rem;
}
