/* Global Styling */

body {
    font-family: 'Open Sans';
    font-weight: 400;
    margin: 0px;
}

h1, h2 {
    font-size: 3.75rem;
    font-weight: 300;
}

h3 {
    font-size: 2.0625rem;
    font-weight: 300;
}

p {
    font-size: 1.125rem;
    font-weight: 400;
}

/* Element Styling */

.icon {
    min-width: 3.125rem;
    max-width: 7.5rem;
}

.nav-link-button {
    font-size: 1.3125rem;
    font-weight: 400;
}

.bg--nitro-pink {
    background-color: #FFF0ED;
}

.bold {
    font-weight: 700;
}

/* Font Styling */

.text-center {
    text-align: center;
}

/*Targetted Styling*/

header > nav > ul > li {
    list-style: none;
    font-weight: 400;
}

header > h2 > a {
    text-decoration: none;
    color: #393939;
}

p.price {
    color:#5bacc3;
}

/* Nav Bar */

.navbar {
    display: inline-block;
}

.zeromargin {
    margin: 0px;
}

.zeromargin-bottom {
    margin-bottom: 0px;
}