/* Global Styling */

:root {
    font-size: 16px;
}

body {
    font-family: 'Open Sans';
    font-weight: 400;
    margin: 0px;
}

h1, h2 {
    font-size: 3.75rem;
    font-weight: 300;
}

h3 {
    font-size: 2.0625rem;
    font-weight: 300;
}

p {
    font-size: 1.125rem;
    font-weight: 400;
}

a {
    text-decoration: none;
}

/* Element Styling */

.icon {
    min-width: 3.125rem;
    max-width: 7.5rem;
}



.bg--nitro-pink {
    background-color: #FFF0ED;
}

.bold {
    font-weight: 700;
}

.blue {
    color:#5bacc3;
}

.graphite {
    color: #393939;
}

.white {
    color: #FFF;
}

/* Alignments */

.text-center {
    text-align: center;
}

.img-center {
    align-content: center;
}

/*Targetted Styling*/

header > nav > ul > li {
    list-style: none;
    font-weight: 400;
    font-size: 1.3125rem;
}

/* Nav Bar */

.navbar {
    display: inline-block;
    margin: auto 20px;
}


.navbar a:nth-child(3) {
    color:#5bacc3;
}

.navbar ul {
    padding: 0 0 20px 0;
}

/* Margin & Padding Control */

.zeromargin {
    margin: 0px;
}

.zeromargin-bottom {
    margin-bottom: 0px;
}

.zeromargin-left {
    margin-left: 0px;
}

.margin-left20{
    margin-left: 20px;
}