
.button--blue {
    background-color: #5BACC3;
    color: white;
    font-size: 1.3125rem;
    font-weight: 400;
    border: 0px;
}

/* Nitro Coffee Section */
.main-nitrocoffee {
    margin-left: 5vw;
    padding: 6.25rem 6vw;
    width: 20vw;
}

.main-coffeehero {
    vertical-align: top;
    margin-left: 28vw;
    padding: 3.75rem 0;
}

/*Our Products Section */
.card {
    margin: 0 3vw;
    min-width: 18.5vw;
    max-width: 19.5vw;
    min-height: 27.5rem;
    max-height: 27.5rem;
    padding-top: 2.5rem;
    border: 10px;
    box-shadow: 0 5px 9px -1px;
    display: inline-block;
    align-content: center;
    text-align: center;
    border-radius: 10px;
}
.main-product {
    padding: 2.5rem 2.4vw;
}

.product-image {
    height: 24.76767676vh;
}

/* Discount Section */
.main-discount {
    background-color:white;
    padding: 10rem 9.5vw;
}

.discount-banner {
    min-width: fit-content;
    max-width: 90%;
    background-color: #393939;
    color: white;
    padding: 2.5rem 3.75rem;
}

.discount-text {
    font-size: 2.8125rem;
    font-weight: 400;
    text-align: center;
    margin-top: 0px;
}

/* Footer */

.footer {
    margin: 0px 6vw;
    vertical-align: top;
}