.coffeecircle {
    width: 100vw;
    display:block;
}

.circlemenu {
    font-size: 5rem;
    color: white;
    background-color: #393939;
    display:inline-block;
    text-align: center;
    width: 25%;
    height: 20%;
    font-weight: lighter;
    position: absolute;
    top: 0%;
    left: 0%;
}

.drinksnav {
    background-color: #393939;
    text-transform: uppercase;
}

.drinksnav ul li {
    font-size: 2rem;
    list-style-type: none;
    text-align: center;
}

.drinksnav ul li a  {
    text-decoration: none;
    color: white;
}