/*NAV TAGS*/

.coffeecircle {
    min-width: 100%;
    max-width: 100%;
    min-height: 35.9375rem;
    max-height: 37.5rem;
    background-image: url("../assets/images/coffee-circle.jpg");
    background-position: center;
    background-size: cover;
}

.circlemenusquare {
    min-width: 18vw;
    max-width: 19.9vw;
    min-height: 11.25rem;
    max-height: 12.5rem;
    background-color: #393939;
    color: white;
    text-align: center;
    margin: 0px auto;
}

header > nav > ul > li {
    list-style: none;
}

/* DRINKS NAVIGATOR */

.drinksnav {
    min-width: 100%;
    max-width: 100%;
    background-color: #393939;
    text-transform: uppercase;
}

.contentcenter {
    text-align: center;
    margin: 0px auto;
    padding: 1.25rem 0;
}

.subnav {
    display: inline-block;
    list-style-type: none;
    text-align: center;
}

.border--sideblue {
    border-left: 4px solid #5BACC3;
    padding: 0px 20px;
}


/*HEADER TAGS*/


main > h2 {
    text-align: center;
    height: fit-content;
    margin: 0px;
}

main > p{
    margin: 0px;
}

main:nth-child(even) {
    background-color: #FFF0ED;
}
main:nth-child(odd) {
    background-color: #F7F7F7;
}

/* PARAGRAPH TAGS */

p.description {
    font-style: italic;
    width:30%;
    text-align: center;
    margin: 1.25rem auto;
}

.menusizing {
    padding: 1.25rem;
}



