*{
    box-sizing: border-box  ;
}

body {
    margin: 0px;
}

.header {
    height: 400px;
    background: yellow;
    
}

.header h1 {
    margin: 0px;
    padding: 160px;
    text-align: center;
}

.column {
    display: inline-block;
    width: 290px;
    padding: 20px;
}

