/** Partial Usage **/

@use "variables";

/**
Mixins
**/
@mixin box-properties {
  border: 1px solid black;
  background-color: greenyellow;
  border-radius: 20px;
}

/**
Extend
**/

body {
  background-color: variables.$primary-color;
  font: 100% variables.$font-stack;
}

p {
  @include box-properties;
}

div {
  @include box-properties;
}

.message-shared {
  border: 3px solid #ccc;
  color: red;
}

.success {
  @extend .message-shared;
  border-color: brown;
}

/**
Nesting
**/

nav {
  ul {
    font-family: variables.$nav-bar-font-stack;
  }
}

a {
  font-weight: bold;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.product {
  width: 400px;
}

.product__image {
  width: 300px;
}
